# Python package requirements for building as a user.
# Usage:
#   python -m pip install -r build_tools/docker/context/python_build_requirements.txt
pip>=21.3
numpy>=1.19.4  # TODO(zacmustin): check if this is necessary.
