name: ROCm OpenXla CI

on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  execute-xla-ut:
    runs-on: linux-x64-mi210-64-2gpu-amd
    env:
      DOCKER_IMAGE: rocm/tensorflow-build@sha256:7fcfbd36b7ac8f6b0805b37c4248e929e31cf5ee3af766c8409dd70d5ab65faa
      CONTAINER_NAME: xla-runner
    steps:
      # Pre-clean up in case a previous run crashed
      - name: Cleanup container
        run: docker rm -f ${{ env.CONTAINER_NAME }} || true

      - uses: actions/checkout@v4

      - name: Checkout rocAutomation using local creds
        run: |
          rm -rf rocAutomation
          git clone -b jenkins-pipelines https://github.com/ROCm/rocAutomation.git rocAutomation

      - name: Start Container
        run: |
          docker run -dt \
            --name ${{ env.CONTAINER_NAME }} \
            --network=host \
            --device=/dev/dri \
            --device=/dev/kfd \
            --group-add $(getent group render | cut -d: -f3) \
            --group-add $(getent group video | cut -d: -f3) \
            --ipc=host \
            --shm-size=16G \
            --cap-add=SYS_PTRACE \
            --security-opt=seccomp=unconfined \
            -v ${{ github.workspace }}:/workspace \
            -v ${{ github.workspace }}/rocAutomation/resources/certificates:/tf/certificates:ro \
            -v ${{ github.workspace }}/rocAutomation/resources/upstream-xla-data/rocm_tag_filters.sh:/tf/xla/build_tools/rocm/rocm_tag_filters.sh:ro \
            -v ${{ github.workspace }}/rocAutomation/resources/upstream-xla-data/execute_ci_build.sh:/tf/xla/build_tools/rocm/execute_ci_build.sh:ro \
            -w /workspace \
            ${{ env.DOCKER_IMAGE }}

      - name: Test XLA
        run: |
          docker exec \
            -w "/tf/xla" \
            ${{ env.CONTAINER_NAME }} \
            bash -c "build_tools/rocm/execute_ci_build.sh"

      - name: Cleanup container
        if: always()
        run: docker rm -f ${{ env.CONTAINER_NAME }} || true
