name: ROCm OpenXla CI

on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  test-and-analyze-xla-1:
    runs-on: linux-mi325-2
    container:
      image: rocm/tensorflow-build@sha256:a2672ff2510b369b4a5f034272a518dc93c2e492894e3befaeef19649632ccaa
      options:
        --ipc=host
        --shm-size=16G
        --cap-add=SYS_PTRACE
        --security-opt=seccomp=unconfined
    steps:
      - name: Pull source code
        uses: actions/checkout@v4
        with:
          repository: git@github.com:ROCm/rocAutomation.git
          path: rocAutomation

      - name: Test XLA
        run: |
          build_tools/rocm/run_xla_ci_build.sh \
            --config=rocm_ci \
            --config=rocm_rbe \
            //xla/...
