# Copyright 2026 The OpenXLA Authors. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
# ============================================================================

name: CI ROCm
permissions:
  contents: read
on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  execute-xla-ut:
    runs-on: linux-x86-64-4gpu-amd
    env:
      AMD_GPU_TARGETS: 'gfx90a,gfx942,gfx950'
    container:
      image: rocm/tensorflow-build@sha256:7fcfbd36b7ac8f6b0805b37c4248e929e31cf5ee3af766c8409dd70d5ab65faa
      options: >-
        --device=/dev/kfd
        --device=/dev/dri
        --group-add video
        --cap-add=SYS_PTRACE
        --security-opt seccomp=unconfined
        --tmpfs /root/.cache/bazel:rw,exec,size=80g
        --shm-size 16G
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: CPU Info
        if: always()
        run: lscpu

      - name: Memory Info
        if: always()
        run: lsmem

      - name: ROCm info
        if: always()
        run: /opt/rocm/bin/rocminfo

      - name: Check df
        run: |
          mkdir -p /tf/certificates
          wget https://raw.githubusercontent.com/ROCm/rocAutomation/refs/heads/jenkins-pipelines/resources/certificates/ci-cert.crt?token=GHSAT0AAAAAADKIZWJ3KRVONV5SHS5UHQB62L3HPSA -O /tf/certificats/ci-cert.crt
          wget https://raw.githubusercontent.com/ROCm/rocAutomation/refs/heads/jenkins-pipelines/resources/certificates/ci-cert.key?token=GHSAT0AAAAAADKIZWJ2P3IULTAFOCSPOZZI2L3HYEQ -O /tf/certificates/rocm/ci-cert.key
          wget https://raw.githubusercontent.com/ROCm/rocAutomation/refs/heads/jenkins-pipelines/resources/upstream-xla-data/execute_ci_build.sh?token=GHSAT0AAAAAADKIZWJ2HRLSY2VIVVXLS2BU2L3H2CQ -O build_tools/rocm/execute_ci_build.sh

      - name: Test XLA [single_gpu]
        run: |
            build_tools/rocm/execute_ci_build.sh \
              --config=rocm_ci \
              --config=ci_single_gpu \
              --local_test_jobs=2 \
              --action_env=TF_ROCM_AMDGPU_TARGETS=${{ env.AMD_GPU_TARGETS }} \
              --repo_env=TF_ROCM_RBE_SINGLE_GPU_POOL=linux_x64_gpu_gfx90a \
              -- \
              //xla/...

      - name: Test XLA [multi_gpu]
        if: always()
        run: |
            build_tools/rocm/execute_ci_build.sh \
              --config=rocm_ci \
              --config=ci_multi_gpu \
              --strategy=TestRunner=local \
              --action_env=TF_ROCM_AMDGPU_TARGETS=${{ env.AMD_GPU_TARGETS }} \
              --local_test_jobs=2 \
              -- \
              //xla/...
